<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css">
    <title>Mission to Mars</title>
    
<style>

</style>
</head>
<body>
      
 <div class="container">
    <div class="jumbotron">
        <h1 class="display-4" align="center">Welcome to Mars!</h1>
  

      <p class="lead" align="center">
        <a class="btn btn-primary btn-lg" href="/scrape"  role="button">Scrape New Data!</a>
      </p>
     </div>
</div>


 <div class="container-fluid">
     <h2>Latest Mars News</h2>
     <h3>{{ mars_info.news_title }}</h3>
     <p>{{ mars_info.news_paragraph}}</p>
     
</div>
<br>
<br>
<div class="container-fluid">
  
    <div class="row">
        <div class="col-md-8">
            <h3>Featured Image</h3>
          <div class="image-main">
            <img src="{{ mars_info.featured_image }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
          </div>
        </div>    
         <br>
         <br>   
         <div class="col-md-4">
             
                <br> 
             <br>
             <div class="card">
                    <div class="card-body text-white bg-dark">
                        <h4 class="card-title">Current Weather on Mars</h4>
                        <p class="card-text">{{ mars_info.mars_weather }}</p>
                    </div>
                </div>
        

                
                <br>
                <h3>Mars Facts</h3>
                <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                {{ mars_info.mars_facts_table|safe}}
                </div>

            </div>

    </div>
 </div>

            
<div class="container-fluid">
    <h2>Mars Hemispheres</h2>
</div>
    
<div class="card-deck">
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars_info.hemisphere_img_url %}
                        <div class="col-md-6">
                              <div class="card text-white bg-dark" style="margin: 30px;">
                                  <img class="card-img-top img-thumbnail max-width:100%; height: auto;" src="{{ item.Image_Url }}" />
                                  <div class="card-body">
                                      <h5 class="card-text text-center">{{ item.Title }}</h5>
                                  </div>
                              </div>
                          </div>
                    {% endfor %}
            </div>
        </div>  
 </div>           
    
    
</body>

</html>